.register {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
   
    background: 
      url("https://th.bing.com/th/id/R.fb154812c88454f4dbbda7126c5cea97?rik=GIzuy%2fhhTjZhpA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fyKY9evx.jpg&ehk=Ou25eBMD1c2NbvED3UdiTi5TS%2fX7hksw0OAoe%2fwh7vg%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
  }

@media screen and (max-width: 2940px) {
  .register {
    background-size: cover;
    background-position: center, center;
  }
}
  
  .registerTitle {
    font-size: 50px;
    color: #fff;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    width: 200%;
    border-radius: 10px;
  }
  

  .registerlog{
    margin-top: 10%;
    color: white;
  }
  .registerLog{
    margin-right: 10%;
    color: green;
  }
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  